################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/obj
/bin
/Objects
/Tools/AsInterfaceChecker/bin
/Tools/AsInterfaceChecker/Objects
/Tools/ResGen/bin
/Tools/ResGen/Objects
/Tools/ResGen/ResGen_SR.Designer.cs
/Tools/ResGen/ResGen_CommonResStrings.Designer.cs
/Source/MDCFR/bin
/Source/MDCFR/Objects
/Source/MDCFR-DEP_HTTPLIB/bin
/Source/MDCFR-DEP_HTTPLIB/Objects
/Source/MDCFR/Properties/Resources.Designer.cs
/Source/MDCFR/Properties/NAudio.WinForms.Gui.PanSlider.Designer.cs
/Source/MDCFR/Properties/NAudio.WinForms.Gui.VolumeSlider.Designer.cs
