################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/bin/Debug
/obj # Reserved for backwards compatibility
/bin/Release
/bin
/Objects
/Tools/AsInterfaceChecker/bin
/Tools/AsInterfaceChecker/Objects