################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/obj
/bin
/Objects
/Documentation/API
/Documentation/HTML
/Tools/AsInterfaceChecker/bin
/Tools/AsInterfaceChecker/Objects
/Tools/ResGen/bin
/Tools/ResGen/Objects
/Tools/ResGen/ResGen_SR.Designer.cs
/Tools/ResGen/ResGen_CommonResStrings.Designer.cs
/Source/MDCFR/bin
/Source/API-Website
/Source/MDCFR/Objects
/Source/MDCFR-DEP_HTTPLIB/bin
/Source/MDCFR-DEP_HTTPLIB/Objects
/Source/MDCFR-SYSRUNUNS/bin
/Source/MDCFR-SYSRUNUNS/Objects
/Source/MDCFR/Imports/NETFR48/System.Runtime.CompilerServices.Unsafe.dll
/Source/MDCFR/Imports/NETFR48/System.Runtime.CompilerServices.Unsafe.xml
/Source/MDCFR-SYSRESEXT/bin
/Source/MDCFR-SYSRESEXT/Objects
